*{
  margin: 0;
  padding: 0;
}
html{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6, ul{
  margin: 0;
  padding: 0;
}
ul {
  display: flex;
}
nav{
  display: flex;
  align-items: center;
}
li{
  list-style-type: none;
  position: relative;
  white-space: nowrap;
  &:hover{
    transform: scale(1.1);
  }
}
a{
  text-decoration: none;
  color: #000000;
  white-space: nowrap;
  &:hover{
    transform: scale(1.1);
    &::after{
      content: '';
      background-color: #B00000;
      width: 80%;
      height: 2px;
      position: absolute;
      top:  calc(100% + 5px);
      left: 10%;
      @media (max-width: 520px) {
        width: 100%;
        left: 0;
        background-color: inherit;
      }
    }
  }
}

.wrapper{
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}

.header{
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1158px;
  margin: 41px 13.19% 80px 7.77%;
  display: flex;
  @media (max-width: 1280px) {
    justify-content: space-between;
  }
  @media (max-width: 875px){
    height: 60px;
    .logo{
      display: none;
    }
  }
}

.header__service{
  margin-left: 5.7%;
  @media (max-width: 1280px) {
    position: relative;
    top: -3px;
  }
  @media (max-width: 875px) {
    margin-left: 100px;
  }
  @media (max-width: 520px) {
    margin-left: 7%;
  }
}

.header__blog{
  margin-left: 135px;
  margin-right: 198px;
  @media (max-width: 1390px){
    margin-left: 105px;
    margin-right: 168px;
  }
  @media (max-width: 1320px){
    margin-left: 70px;
    margin-right: 133px;
  }
  @media (max-width: 1280px) {
    position: absolute;
    top: 80px;
    left: 120px;
  }
  @media (max-width: 875px) {
    left: 0;
  }
  @media (max-width: 480px) {
    width: 98%;
    left: -14%;
    background-color: #B00000;
    z-index: 50;
  }
  @media (max-width: 400px) {
    left: -18%;
  }
  @media (max-width: 350px) {
    left: -20%;
  }
  @media (max-width: 320px) {
    left: -22%;
  }
  & ul{
    gap: 33px;
    @media (max-width: 1280px) {
      z-index: 50;
    }
    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
      padding: 15px;
    }
    & li a{
      @media (max-width: 480px) {
        color: white;
      }
    }
  }
}
.header__blog-child{
  @media (max-width: 480px) {
    color: white;
  }
}

.dropdown {
  width: 40px;
  height: 30px;
  position: absolute;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  left: 220px;
  top: 13px;
  cursor: pointer;

  &::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 3px;
    top: calc(50% - 1.5px);
    left: 0;
    background-color: red;
  }

  @media (min-width: 1281px) {
    display: none;
  }
  @media (max-width: 875px) {
    left: 10%;
  }
}

.header__account{
  & ul{
    gap: 31px;
    @media (max-width: 520px) {
      gap: 10px;
    }
  }
}

.header__account-first{
  padding:0 31px;
  border-right: 1px solid #DAD8D8;
  @media (max-width: 520px){
    padding: 0 10px;
  }
  @media (max-width: 479px) {
    border: 0;
  }
}

.header__account-second{
  margin-left: 26px;
  list-style-image: url(../images/telephone.svg);
  & a{
    display: inline;
    position: relative;
    top: -5px;
  }
  @media (max-width: 479px) {
    display: none;
  }
}

.hide{
  display: none;
}
//HEADER END***************************************************************************

.account{

  max-width: 1215px;
  margin: 0 auto 108px auto;
  @media (max-width: 1280px){
    max-width: 1245px;
    padding: 15px;
  }
}
.account_wrapper{
  width: 100%;
  display: flex;
  @media (max-width: 960px) {
    flex-direction: column;
  }
}
.account_nav{
  @media (max-width: 960px) {
    margin: 0 auto;
  }
  & ul{
    gap: 20px;
    & li{
      position: relative;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: rgba(214, 212, 212, 0.88);
      &:hover{
        color: #B00000;
        &::after{
          position: absolute;
          bottom: 0;
          left: 0;
          content: '';
          width: 80%;
          height: 2px;
          padding-left: 10%;
          padding-right: 10%;
          background-color: #B00000;
        }
      }
    }
  }
}
.account_description{
  width: 50%;
  display: flex;
  flex-direction: column;
  @media (max-width: 960px) {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
}
.account_title {
  margin-top: 26px;
  margin-bottom: 34px;
  & h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #2E2E2E;
    @media (max-width: 1280px){
      font-size: 53px;
      line-height: 65px;
      // -20%
    }
    @media (max-width: 1024px){
      font-size: 44px;
      line-height: 54px;
      // -20%
    }
    @media (max-width: 960px) {
      text-align: center;
    }
    @media (max-width: 480px){
      font-size: 36px;
      line-height: 45px;
      // -20%
    }
  }
}
.account_text{
  margin-bottom: 60px;
  @media (max-width: 960px) {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
  & p{
    width: 73%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.05em;
    color: #808080;
    @media (max-width: 960px) {
      width: 100%;
      text-align: center;
    }
  }
}
.account_images{
  display: flex;
  justify-content: flex-end;
  width: 50%;
  @media (max-width: 960px) {
    width: 100%;
  }
}
.account_image_wrapper{
  position: relative;
  & img{
    width: 100%;
  }
  &:first-child{
    padding: 0 15px;
  }
  @media (max-width: 960px) {
    margin: 0 auto;
  }
}
.account_absolut{
  z-index: 10;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.account_buttons{
  display: flex;
  gap: 24px;
  @media (max-width: 960px) {
    margin-bottom: 50px;
    justify-content: center;
    gap: 20%;
    margin-right: 20px;
  }
  @media (max-width: 480px) {
    gap: 20px;
  }
  @media (max-width: 380px) {
    flex-direction: column;
  }
}
.button{
  padding: 12px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  white-space: nowrap;
  &.red{
    background: #B00000;
    box-shadow: 0 0 64px rgba(176, 0, 0, 0.3);
    color: #FFFFFF;
    &:hover{
      background: #ff000f;
    }
  }
  &.white{
    border: 1px solid #000000;
    color: #000000;
    background-color: white;
    &:hover{
      border: 1px solid  #ff000f;
      color:  #ff000f;
    }
  }
}

//ACCOUNT END***************************************************************************

.promo{
  max-width: 1304px;
  margin: 0 auto 100px auto;
  padding: 0 15px;
}
.promo_wrapper{
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.promo_child{
  display: flex;
  justify-content: space-between;
  gap: 70px;
  @media (max-width: 1280px){
    gap: 40px;
  }
  @media (max-width: 1024px){
    flex-direction: column;
  }
  @media (max-width: 480px) {
    gap: 0;
  }
  &.bottom{
    gap: 60px;
    @media (max-width: 1280px){
      gap: 40px;
    }
    @media (max-width: 1024px){
      flex-direction: row;
    }
    @media (max-width: 960px) {
      flex-wrap: wrap;
    }
  }
}

.promo_child-item{
  text-align: center;
  @media (max-width: 480px) {
    margin: 0 auto;
  }
  & img{
    margin-bottom: 50px;
    @media (max-width: 1024px){
      margin: 0 100px;
    }
    @media (max-width: 960px){
      margin: 0 60px;
    }
    @media (max-width: 640px){
      margin: 0 35px;
    }
    @media (max-width: 520px){
      margin: 0 20px;
    }
    @media (max-width: 480px){
      display: block;
      margin: 0 30px;
    }
  }
  & h1 {
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
    @media (max-width: 1280px){
      font-size: 40px;
      line-height: 52px;
    }
  }
  & p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
    @media (max-width: 1280px){
      font-size: 16px;
      line-height: 30px;
    }
    @media (max-width: 480px) {
      margin-bottom: 40px;
    }
  }
}

.promo_child_b_item{
  text-align: center;
  @media (max-width: 960px) {
    max-width: 33%;
  }
  @media (max-width: 640px) {
    max-width: 43%;
  }
  @media (max-width: 420px) {
    max-width: 100%;
  }
  & img {
    margin-bottom: 17px;
  }
  & h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }
  & p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #000000;
  }
}

//PROMO END***************************************************************************


.price{
  max-width: 1097px;
  margin: 0 auto;
}
.price_title_block {
  width: 78%;
  margin: 0 auto 85px auto;
  position: relative;
  & h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    @media (max-width: 480px){
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.price_title_block--title {
  width: 76.4%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #000000;
  margin-bottom: 38px;
  margin-left: 14.6%;
  @media (max-width: 1024px){
    font-size: 40px;
    line-height: 50px;
  }
  @media (max-width: 800px){
    font-size: 30px;
    line-height: 40px;
  }
  @media (max-width: 320px){
    font-size: 25px;
    line-height: 32px;
  }
}

.price_title_block--subtitle {
  width: 54.2%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  margin-left: 24.7%;
  @media (max-width: 1024px) {
    font-size: 20px;
    line-height: 20px;
  }
  @media (max-width: 800px) {
    font-size: 16px;
    line-height: 16px;
  }
}

.--time-label {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  @media (max-width: 800px){
    font-size: 18px;
    line-height: 18px;
  }
  @media (max-width: 320px) {
    font-size: 14px;
    line-height: 14px;
  }
}

.price_title_block--time{
  position: relative;
  display: inline-flex;
  gap: 28px;
  margin-top: 68px;
  margin-left: 31.55%;
  align-items: center;
  & h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    @media (max-width: 800px) {
      font-size: 18px;
      line-height: 18px;
    }
    @media (max-width: 480px) {
      transform: translate(0 -15px);
    }
    @media (max-width: 320px) {
      font-size: 14px;
      line-height: 14px;
    }
  }
  @media (max-width: 1024px){
    margin-left: 25.55%;
  }
  @media (max-width: 800px){
    margin-left: 20.55%;
  }
  @media (max-width: 640px){
    margin-left: 15.55%;
  }
  @media (max-width: 480px){
    margin-left: 3.55%;
  }
}

.--time-yellow{
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: -13px;
  & h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 9px;
    text-align: center;
    color: #000000;
    background: #FFE87A;
    border-radius: 8px;
    padding: 8px;
  }
  @media (max-width: 480px){
    position: absolute;
    bottom: -10px;
    right: -15px;
  }
}

.price_title_block--tarif {
  margin-top: 84px;
  display: flex;
  justify-content: center;
}

.--tarif-item-basic, .--tarif-item-premium {
  width: 50%;
  position: relative;
  border-bottom: 4px solid #C4C4C4;
}
.active{
  border-bottom: 4px solid red;
  transition: 1.5s ease;
}
.--time-checkbox{
  display: flex;
  align-items: center;
}

.checkbox{
  position: relative;
  background-color: #B00000;
  margin-left: 20px;
  width: 93px;
  height: 50px;
  border-radius: 73px;
  -webkit-appearance: none;
  @media (max-width: 800px) {
    width: 63px;
    height: 35px;
  }
  &:before{
    content: '';
    position: absolute;
    left: 5px;
    top: 0;
    transform: translate(0, 30%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: .5s;
    cursor: pointer;
    @media (max-width: 800px) {
      width: 20px;
      height: 20px;
    }
  }
  &:checked{
    background-color: green;
    &:before{
      left: 58px;
      @media (max-width: 800px) {
        left: 38px;
      }
    }
  }
}

.price_choose_block{
  padding-left: 35px;
  padding-right: 35px;
  display: grid;
  justify-items: center;
  grid-gap: 150px;
  grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
  grid-auto-columns: 264px;
  grid-auto-rows: 736px;
  margin-bottom: 100px;
  @media (max-width: 1280px) {
    gap: 0 100px;
    grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
    grid-auto-columns: 244px;
  }
}

.grid_item{
  border: 1.5px solid #C4C4C4;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 299px;
  height: 716px;
  @media (max-width: 480px) {
    width: 259px;
  }
}

.grid_item-wrapper{
  margin: 0 29px 0 35px;
  display: flex;
  flex-direction: column;
}
.grid_item-title{
  margin-top: 34px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 25px;
  color: #000000;

}
.grid_item-subtitle{
  margin-top: 11px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin-right: 43px;
}
.grid_item-price{
  margin-top: 28px;
  white-space: nowrap;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 32px;
  color: #000000;
}
.grid_item-period{
  white-space: nowrap;
  margin-top: 11px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}
.grid_item-button{
  white-space: nowrap;
  margin-top: 35px;
  width: 235px;
  padding: 9px 1px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  color: #000000;
  @media (max-width: 480px) {
    width: 195px;
  }
  &:hover{
    border: 2px solid green;
    color:  green;
  }
  &:active{
    background-color: rgb(241, 255, 237);
  }
}
.grid_item_description{
  flex-direction: column;
  margin-left: 44px;
  margin-top: 35px;
  list-style-image: url(../images/card_li.svg);
  & li {
    padding-left: 14px;
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #808080;
    &:hover{
      transform: scale(1);
      cursor: context-menu;
    }
  }
}

// PRICE END *******************************************************************
